<div class="image">
    <app-header></app-header>
    <div class="container content">
        <h2>
            Our mission is to
            <br>
            <span class="tagline">Spread Knowledge That Sticks.</span>
        </h2>
        <p>
            Every day, hundreds of thousands of people enroll in online programming courses, and every day, people
            complete those courses without truly knowing how to apply what they’ve “learned”. Topper was created in
            2013 by two web developers to <b>solve this problem.</b>
        </p>
        <p>
            Six years later, Topper is now helping learners really master web development through our wide <b>variety
                of unmatched real-world resources.</b> We make it possible for our users to not just follow along, but
            to <b>acquire the confidence and skills</b> they seek to achieve their personal and professional goals
            alike.
        </p>

        <p>
            Ready for the ultimate learning experience? Sign up for <a href="https://topper.io/pro">Topper pro</a>
            and stay up-to-date by following us on social media.
            <br>
            <a href="https://www.facebook.com/"><i class="icon ion-social-facebook"></i></a>
            <a href="https://twitter.com/"><i class="icon ion-social-twitter"></i></a>
            <a href="https://www.linkedin.com/"><i class="icon ion-social-linkedin"></i></a>
        </p>

        <p style="font-style:italic">
            <a href="https://twitter.com/" target="_blank">Mathews</a>
            <br>
            C.E.O./President, Topper.com
        </p>
    </div>
</div>