<div class="container-fluid p-0 mt-3">
    <div class="container">
        <div class="cards card-deck">
            <div class="row">
                <div class="card " style="width:400px ">
                    <img class="card-img-top h-50" src="../../../assets/skills-1.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Skills</h4>
                        <p class="card-text">Check your uploaded skills</p>
                        <a routerLink="/trainer/trainer-skill" class="btn btn-primary">Click here</a>
                    </div>
                </div>
                <div class="card " style="width:400px">
                    <img class="card-img-top" src="../../../assets/Training.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Trainings</h4>
                        <p class="card-text">chech your trainings.</p>
                        <a routerLink="/trainer/training-current" class="btn btn-primary">Click here</a>
                    </div>
                </div>
                <!-- <div class="card " style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Trainings Completed</h4>
                        <p class="card-text">Some example text.</p>
                        <a routerLink="/trainer/training-completed" class="btn btn-primary">Click here</a>
                    </div>
                </div> -->
                <div class="card " style="width:400px">
                    <img class="card-img-top" src="../../../assets/payment.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Trainings completed & Payments</h4>
                        <p class="card-text">check your payments.</p>
                        <a routerLink="/trainer/trainer-payment" class="btn btn-primary">Click here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>