<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="../../../assets/person-1.png" alt="pray">
        </div>
        <div class="col-md-4">
            <div class="row">
                <h2>Krish</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h3>Java Developer</h3>
            </div>
            <div class="row">
                <p>Such a good trainer with a 5 star ratings.</p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <img src="../../../assets/person-1.png" alt="pray">
        </div>
        <div class="col-md-4">
            <div class="row">
                <h2>Gautham</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h3>Android Developer</h3>
            </div>
            <div class="row">
                <p>Such a good trainer with a 5 star ratings.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="../../../assets/person-2.png" alt="pray">
        </div>
        <div class="col-md-4">
            <div class="row">
                <h2>Samantha</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h3>Angular Developer</h3>
            </div>
            <div class="row">
                <p>Such a good trainer with a 5 star ratings.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="../../../assets/person-1.png" alt="pray">
        </div>
        <div class="col-md-4">
            <div class="row">
                <h2>Bala</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h3>Spring Developer</h3>
            </div>
            <div class="row">
                <p>Such a good trainer with a 5 star ratings.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="../../../assets/person-2.png" alt="pray">
        </div>
        <div class="col-md-4">
            <div class="row">
                <h2>Alexandra Daddario</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h3>JavaScript Developer</h3>
            </div>
            <div class="row">
                <p>Such a good trainer with a 5 star ratings.</p>
            </div>
        </div>
    </div>

</div>