<div class="js-fatigue">
    <div class="container">
        <h1 style="margin-bottom:30px">Mastering new frameworks is tiring.</h1>

        <h1><b>We made it easier.</b></h1>
        <div class="row">

            <div class="col-md-4">
                <h5>
                    <b> Comprehensive, end-to-end fullstack tutorials</b>
                </h5>
                <p>
                    Our tutorials take you all the way from <code>git init</code> to deploying your apps into
                    production.</p>
            </div>

            <div class="col-md-4">
                <h5>
                    <b> Frameworks change fast.<br>So do we.</b>
                </h5>
                <p>
                    We're constantly adding new frontend &amp; backend frameworks to our tutorial catalog, so you'll
                    always stay on the bleeding edge of Javascript.
                </p>
            </div>

            <div class="col-md-4">
                <h5>
                    <b>Taught by experts who are great communicators</b>
                </h5>
                <p>
                    Nothing can replace great teaching. Our instructors hail from the world's best engineering
                    organizations and are hand picked based on their ability to communicate.
                </p>
            </div>

        </div>
    </div>
</div>