<div class="container-fluid p-0">
    <div class="conatiner">
        <div class="card text-center">
            <div class="card-header">
                Required Skills
            </div>
            <div class="card-body">
                <h5 class="card-title">Available Technologies</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary mr-2">Java</a>
                <a href="#" class="btn btn-primary mr-2">.Net</a>
                <a href="#" class="btn btn-primary mr-2">Angular</a>
                <a href="#" class="btn btn-primary mr-2">Node.js</a>
                <a href="#" class="btn btn-primary mr-2">Typescript</a>
            </div>
            <div class="card-footer text-muted">
                Update your Skills
            </div>
        </div>

        <div class="card text-center">
                <div class="card-header">
                    Your Skills
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary mr-2">Java</a>
                    <a href="#" class="btn btn-primary mr-2">Angular</a>
                </div>
                <div class="card-footer text-muted">
                    Updated 2 Months ago
                </div>
            </div>
    </div>
</div>