<body>
    <div class="start-now">
        <div class="container">
            <div class="row">
                <div class="tewelve columns">
                    <h5>Choose a technology. Start learning <b>right now</b>.</h5>
                </div>
            </div>
            <div class="row card-list">
                <div class="four columns ribbon-outer">
                    <a href="/tutorials/one-day-introduction-to-react-with-kent-c-dodds" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/react.png"
                                alt="React">
                        </div>
                        <h5>
                            React <b>Workshop</b>
                        </h5>
                        <p>
                            Get hands-on with this live recorded React workshop
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>
                </div>
                <div class="four columns ribbon-outer">
                    <a href="/topics/vue" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/vue.png"
                                alt="Vue">
                        </div>
                        <h5>
                            Vue
                        </h5>
                        <p>
                            Develop data-reactive interfaces with a simple and flexible API
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>
                </div>
                <div class="four columns">
                    <a href="/topics/angular2" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/angular.png"
                                alt="Angular">
                        </div>
                        <h5>
                            Angular
                        </h5>
                        <p>
                            Build modern universal web and mobile applications
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>
                </div>
            </div>

            <div class="row card-list">
                <div class="four columns ">
                    <a href="/topics/react" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/react.png"
                                alt="React">
                        </div>
                        <h5>
                            React
                        </h5>
                        <p>
                            Create web and mobile applications with reusable components
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
                <div class="four columns ribbon-outer">
                    <a href="/topics/docker" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/docker.png"
                                alt="Docker">
                        </div>
                        <h5>
                            Docker
                        </h5>
                        <p>
                            Learn to build and deploy your distributed applications easily to the cloud
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>
                </div>
                <div class="four columns ">
                    <a href="/topics/angular" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/angularjs.png"
                                alt="Angularjs">
                        </div>
                        <h5>
                            AngularJS
                        </h5>
                        <p>
                            Learn how to build fully fledged single page web apps (SPAs)
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>
                </div>
            </div>

            <div class="row card-list">
                <div class="four columns ">
                    <a href="/topics/python" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo"
                                src="https://static.thinkster.io/topics/Python-logo-110.png" alt="Python logo 110">
                        </div>
                        <h5>
                            Python
                        </h5>
                        <p>
                            Learn Python, the language of ML, AI, and Web
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
                <div class="four columns ">
                    <a href="/topics/typescript" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/ts.png"
                                alt="Ts">
                        </div>
                        <h5>
                            Typescript
                        </h5>
                        <p>
                            Add the benefits of strong typing &amp; more to Javascript
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
                <div class="four columns ">
                    <a href="/topics/redux" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/redux_ds.png"
                                alt="Redux ds">
                        </div>
                        <h5>
                            Redux
                        </h5>
                        <p>
                            Create stable Javascript applications using state containers
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
            </div>

            <div class="row card-list">
                <div class="four columns ">
                    <a href="/topics/rx" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/rxjs.png"
                                alt="Rxjs">
                        </div>
                        <h5>
                            RxJS
                        </h5>
                        <p>
                            Take advantage of reactive programming in Javascript
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
                <div class="four columns ">
                    <a href="/topics/node" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/node_icon.png"
                                alt="Node icon">
                        </div>
                        <h5>
                            Node.js
                        </h5>
                        <p>
                            Build full stack web apps using Javascript on the frontend &amp; backend
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
                <div class="four columns ">
                    <a href="/topics/rails" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/rails.png"
                                alt="Rails">
                        </div>
                        <h5>
                            Rails
                        </h5>
                        <p>
                            Integrate Rails with popular frontend Javascript frameworks
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
            </div>

            <div class="row card-list">
                <div class="four columns ">
                    <a href="/topics/django" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/django.png"
                                alt="Django">
                        </div>
                        <h5>
                            Django
                        </h5>
                        <p>
                            Integrate Django with popular frontend Javascript frameworks
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
                <div class="four columns ">
                    <a href="/topics/fullstack" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/prio.png"
                                alt="Prio">
                        </div>
                        <h5>
                            Fullstack
                        </h5>
                        <p>
                            Build modern web applications with frontend &amp; backend frameworks
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
                <div class="four columns ">
                    <a href="/topics/ionic" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/ionic.png"
                                alt="Ionic">
                        </div>
                        <h5>
                            Ionic
                        </h5>
                        <p>
                            Make native-feeling iOS and Android apps with AngularJS
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
            </div>

            <div class="row card-list">
                <div class="four columns ">
                    <a href="/topics/firebase" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/firebase.png"
                                alt="Firebase">
                        </div>
                        <h5>
                            Firebase
                        </h5>
                        <p>
                            Build real-time web and mobile applications that scale
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
                <div class="four columns ">
                    <a href="/topics/mean" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/node_icon.png"
                                alt="Node icon">
                        </div>
                        <h5>
                            MEAN Stack
                        </h5>
                        <p>
                            Build apps using MongoDB, Express, Angular and Node
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
                <div class="four columns ">
                    <a href="/topics/deployment" class="tech-card">
                        <div class="with-icon">
                            <img style="border:0;" class="logo" src="https://static.thinkster.io/topics/deployment.png"
                                alt="Deployment">
                        </div>
                        <h5>
                            Deployment
                        </h5>
                        <p>
                            Learn how to deploy your frontend &amp; backend apps
                        </p>
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>

                </div>
            </div>

            <div class="row">
                <div class="twelve columns" style="text-align:center;font-weight:500;font-size:2.5rem">
                    And more coming soon! <a style="cursor:pointer;font-weight:700"
                        href="mailto:hello@thinkster.io?subject=Tutorial Suggestion">Tell us what to cover next <i
                            class="ion-ios-arrow-thin-right"></i></a>
                </div>
            </div>

        </div>
    </div>
</body>>