<div class="container-fluid p-0 mt-3">
    <div class="container">
        <div class="cards card-deck">
            <div class="row">
                <div class="card " style="width:400px">
                    <img class="card-img-top" src="../../assets/search.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Search Trainers</h4>
                        <a routerLink="/user/user-search" class="btn btn-primary">Click here</a>
                    </div>
                </div>
                <div class="card " style="width:400px">
                    <img class="card-img-top" src="../../../assets/skills-1.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title ">Current Trainings</h4>
                        <a routerLink="/user/user-current" class="btn btn-primary">Click here</a>
                    </div>
                </div>
                <div class="card " style="width:400px">
                    <img class="card-img-top" src="../../../assets/Training.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Trainings Completed</h4>
                        <a routerLink="/user/user-complete" class="btn btn-primary">Click here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>