<div class="section2">
    <div class="container text-center">
        <div class="row">
            <h1>Learn how to <b>build fullstack apps</b> with</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pray">
                    <img src="../../assets/pexels-photo-1904769.jpeg" alt="Pray">
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel text-left">
                    <h3>Any frontend. Any backend. One fullstack app.</h3>
                    <p class="pt-4">All of our frontend & backend tutorials teach you how to build the exact same real
                        world, beautifully designed fullstack app called "Conduit".</p>

                    <p> No more piecing together disparate tutorials for learning fullstack app development — just
                        choose
                        your ideal frontend and backend, and we've got you covered.</p>
                </div>
            </div>
        </div>
    </div>
</div>