<div class="container" id="section3">
    <h5 class="title-h5">Choose a technology.Start learning<strong> Right now</strong></h5>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../../assets/section-1-angular.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Angular</h5>
                <p class="card-text">Build modern universal web and mobile applications</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/section-1-js.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Node.js</h5>
                <p class="card-text">
                    Build full stack web apps using Javascript on the frontend & backend
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/section-1-react.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">React</h5>
                <p class="card-text">
                    Create web and mobile applications with reusable components
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../../assets/section-1-redux_ds.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Redux</h5>
                <p class="card-text">
                    Create stable Javascript applications using state containers.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/section-1-rxjs.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">RxJs</h5>
                <p class="card-text">
                    Take advantage of reactive programming in Javascript
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/section-1-ts.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Typescript</h5>
                <p class="card-text">
                    Add the benefits of strong typing & more to Javascript
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../../assets/section-1-angular.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Angular</h5>
                <p class="card-text">Build modern universal web and mobile applications</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/section-1-js.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Node.js</h5>
                <p class="card-text">
                    Build full stack web apps using Javascript on the frontend & backend
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/section-1-react.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">React</h5>
                <p class="card-text">
                    Create web and mobile applications with reusable components
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../../assets/section-1-redux_ds.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Redux</h5>
                <p class="card-text">
                    Create stable Javascript applications using state containers.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/section-1-rxjs.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">RxJs</h5>
                <p class="card-text">
                    Take advantage of reactive programming in Javascript
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/section-1-ts.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Typescript</h5>
                <p class="card-text">
                    Add the benefits of strong typing & more to Javascript
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>