<!-- <app-header></app-header> -->
 <!-- <app-about></app-about> -->
<!-- <app-trainer></app-trainer>  -->
<!-- <app-trainerskills></app-trainerskills> -->
<!-- <app-trainercurrent></app-trainercurrent> -->
<!-- <app-trainer-payment></app-trainer-payment> -->
<!-- <app-adminuser></app-adminuser> -->
<!-- <app-admintrainer></app-admintrainer> -->
<!-- <app-adminedit></app-adminedit> -->
<!-- <app-user></app-user> -->
<!-- <app-usersearch></app-usersearch> -->
<!-- <app-usercurrent></app-usercurrent> -->
<!-- <app-usercomplete></app-usercomplete> -->
<router-outlet></router-outlet>
<app-footer></app-footer>